.button {
  display: flex;
  align-items: center;

  padding: 6px 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  &--blue {
    color: $color-white;

    background-color: $color-blue-base;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      background-color: $color-blue-dark;
    }

    &.-disabled {
      background-color: $color-mild-grey;

      cursor: default;
    }
  }

  &--transparent {
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;

    color: $color-blue-base;

    &.-disabled {
      cursor: default;
    }
  }

  &--plus-white {
    padding-left: 44px;

    background-image: url('../../../icons/plus-white.svg');
    background-repeat: no-repeat;
    background-position: 18px 50%;
  }

  &--plus-blue {
    padding-left: 26px;
    padding-right: 0;

    background-image: url('../../../icons/plus-blue.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;

    &:disabled {
      background: none;
    }
  }

  &--remove {
    width: 21px;
    height: 20px;

    background-image: url('../../../icons/close.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  &__remove-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 6px;

    background-color: $color-grey-2;

    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }

  &--grey {
    height: 32px;

    color: $color-blue-base;

    background-color: $color-grey-2;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
      border: 1px solid $color-blue-base;
    }

    &:active {
      background-color: transparent;
    }
  }

  &--check {
    padding: 0;
    width: 32px;
    height: 32px;

    background-image: url('../../../icons/check.svg');
    background-color: $color-blue-base;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    border-radius: 50%;

    &:disabled {
      background-color: $color-mild-grey;

      cursor: default;
    }
  }
}
