.button {
  padding: 6px 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  &--blue {
    color: $color-white;

    background-color: $color-blue-base;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      background-color: $color-blue-dark;
    }

    &.-disabled {
      background-color: $color-mild-grey;

      cursor: default;
    }
  }

  &--transparent {
    margin-left: auto;

    color: $color-blue-base;

    &.-disabled {
      cursor: default;
    }
  }

  &__remove-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 6px;

    background-color: $color-grey-2;

    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }

  &--remove {
    position: relative;

    width: 17px;
    height: 17px;

    border: 1px solid $color-blue-base;
    border-radius: 50%;

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 7px;
      left: 3px;

      width: 8px;
      height: 2px;

      background-color: $color-blue-base;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &--white {
    color: $color-blue-base;

    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
}
