.form-field {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  &--text {
    height: 64px;
    padding-bottom: 20px;
    padding-top: 22px;
    margin-bottom: 32px;
  }

  &__label--field-text &__label-text {
    position: absolute;
    top: 32px;
    left: 0;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgba($color: $color-night-gray, $alpha: 0.2);

    transition: all 0.3s ease;
  }

  &__label--field-text {
    width: 100%;
  }

  &__label--radio {
    margin-right: 16px;

    cursor: pointer;
  }

  &__input {
    &--text {
      padding: 4px 16px 4px 0;

      font-size: 13px;
      line-height: 16px;

      background-color: transparent;
      border: none;
      border-bottom: 2px solid $color-mouse-grey;
    }

    &--radio {
      width: auto;
    }
  }

  &__input--text:focus + &__label-text,
  &__input--text.-filled + &__label-text {
    top: 4px;

    color: rgba($color: $color-night-gray, $alpha: 1);
  }

  &__button-remove {
    margin-top: 19px;
    margin-left: 14px;
  }
}
