.form-field {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  &--text {
    height: 64px;
    padding-bottom: 20px;
    padding-top: 22px;
    margin-bottom: 32px;
  }

  &__label--field-text &__label-text {
    position: absolute;
    top: 24px;
    left: 0;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: rgba($color: $color-night-gray, $alpha: 0.2);

    transition: all 0.3s ease;
  }

  &__label--field-text {
    display: flex;
    width: 100%;
  }

  &__label--radio {
    position: relative;

    margin-right: 16px;
    padding-left: 28px;

    cursor: pointer;
  }

  &__label--radio &__label-text {
    font-size: 14px;
    line-height: 20px;

    &::before {
      content: '';

      position: absolute;
      top: 5px;
      left: 0;

      width: 18px;
      height: 18px;

      border: 1px solid $color-mouse-grey;
      border-radius: 50%;
    }

    &::after {
      content: '';

      position: absolute;
      top: 9px;
      left: 4px;

      width: 10px;
      height: 10px;

      border: 1px solid $color-mild-grey;
      border-radius: 50%;
    }
  }

  &__input--radio:checked + &__label-text {
    &::before,
    &::after {
      border-color: $color-blue-base;
    }

    &::after {
      background-color: $color-blue-base;
    }
  }

  &__input {
    &--text {
      padding: 4px 16px 4px 0;

      font-size: 13px;
      line-height: 16px;

      background-color: transparent;
      border: none;
      border-bottom: 2px solid $color-mouse-grey;

      &.ng-invalid.-filled {
        color: $color-red;
        border-color: $color-red;
      }
    }

    &--radio {
      width: auto;
    }
  }

  &__input--text.ng-invalid.-filled + &__label-text {
    color: $color-red;
  }

  &__input--text:focus + &__label-text,
  &__input--text.-filled + &__label-text {
    top: 0;

    color: rgba($color: $color-night-gray, $alpha: 1);
  }

  &__button-remove {
    margin-top: 12px;
    margin-left: 17px;
  }
}
