.form {
  $root: &;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &__field-builder {
    padding: 24px;

    background-color: $color-white;
  }

  &__radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
  }
}
