.card {
  display: block;
  padding: 16px;

  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    font-size: 13px;
    line-height: 16px;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__button-edit {
    padding: 0;

    line-height: 16px;
  }

  &__link {
    font-size: 13px;
    line-height: 16px;
  }
}
