.card {
  display: block;
  padding: 16px;

  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__title {
    font-size: 13px;
    line-height: 16px;
  }

  &__phone {
    font-size: 13px;
    line-height: 16px;
  }
}
