/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/exo-2-v10-latin/exo-2-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../../../assets/fonts/exo-2-v10-latin/exo-2-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../../assets/fonts/exo-2-v10-latin/exo-2-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../../assets/fonts/exo-2-v10-latin/exo-2-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../../../assets/fonts/exo-2-v10-latin/exo-2-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../../../assets/fonts/exo-2-v10-latin/exo-2-v10-latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../../../assets/fonts/open-sans-v23-latin/open-sans-v23-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
