* {
  outline: none !important;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 30px;
  overflow-x: hidden;
}

body {
  height: 100vh;

  font-family: $font-family-base;
  font-weight: 400;
  color: $color-night-gray;

  background-color: $color-white;

  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $color-blue-base;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;

  font-family: $font-family-base;
}

button {
  position: relative;

  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: $font-family-base;

  background: none;
  border: none;

  cursor: pointer;
}

ul {
  list-style: none;
}
