$color-gray: #f7f7f7;
$color-night-gray: #333333;
$color-blue-base: #4c75e6;
$color-blue-dark: #3559bb;
$color-white: #ffffff;

$font-family-base: 'Open Sans', 'Arial', sans-serif;
$font-family-alt: 'Exo 2', 'Arial', sans-serif;
