$color-grey: #f7f7f7;
$color-grey-2: #f9f9f9;
$color-mouse-grey: #a0a0a0;
$color-night-gray: #333333;
$color-mild-grey: #cccccc;
$color-blue-base: #4c75e6;
$color-blue-dark: #3559bb;
$color-white: #ffffff;

$font-family-base: 'Open Sans', 'Arial', sans-serif;
$font-family-alt: 'Exo 2', 'Arial', sans-serif;
